<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard Admin</title>
</head>
<body>
    <h1>Dashboard Admin</h1>
    <a href="{{ path('app_edit_horaires') }}">Editer les Horaires</a>
    <a href="{{ path('app_edit_services') }}">Modifier les Services</a>
    <a href="{{ path('app_edit_users') }}">Editer les Utilisateurs</a>

    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se Déconnecter</a>

</body>
</html>


