<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit utilisateurs</title>
</head>
<body>
    <h1>Edition des Utilisateurs</h1>
    <a href= "{{ path('app_admin') }}">Retour au Dashboard</a>

</body>
</html>
