{% extends 'basedashboard.html.twig' %}

{% block title %}
Dashboard Vendeur
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Dashboard Vendeur</h1>
    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se Déconnecter</a>
    <section>
        <a href="{{ path('app_vehicule_edit') }}">Edition des Véhicules</a>
        <a href="{{ path('app_ajout_avis') }}"><s>Ajouter Témoignage Client</s></a>
    </section>
{% endblock %}


