<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Horaires</title>
</head>
<body>
    <h1>Edition des Horaires</h1>
    <a href= "{{ path('app_admin') }}">Retour au Dashboard</a>

    
    <!-- <select name="jourSelect" id="jourselected">
    <option value="lundi">lundi</option>
    <option value="mardi">mardi</option>
    <option value="mercredi">mercredi</option>
    <option value="jeudi">jeudi</option>
    <option value="vendredi">vendredi</option>
    <option value="samedi">samedi</option>
    <option value="dimanche">dimanche</option>
    </select> -->
    {{ form(form) }}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var day = document.getElementById('jourselected');

            var sendRequest = () => {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/admin/dashboard/edithoraires', true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log('envoi data ok');
                    }else {
                        console.log('error');
                    }
                };
                xhr.send(JSON.stringify(day.value));
            }

            sendRequest();

            day.addEventListener('change', sendRequest);

        });
    </script> -->
</body>
</html>
