<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Horaires</title>
</head>
<body>
    <h1>Edition des Horaires</h1>
    <a href= "{{ path('app_admin') }}">Retour au Dashboard</a>


    {{ form(form) }}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

</body>
</html>
