<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Création Nouveau Véhicule</title>
    <style>
    
        html,body {
            width: 100;
            height: 100;
            font-size: 1.1rem;
            display: flex;
            flex-direction: column;
        }
        div {
            margin-bottom: 0.3rem;
        }
        label {
            padding-right: 1rem;
        }

        h1 {
            font-size: 2rem;
        }
        a {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <h1>Création nouveau véhicule</h1>
    <a href= "{{ path('app_vehicule_edit') }}">Retour</a>

    <div class="contenu">

    {{ form(form) }}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    </div>
</body>
</html>