<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Création Nouveau Véhicule</title>
    <style>

    </style>
</head>
<body>
    <h1>Création nouveau véhicule</h1>
    <a href= "{{ path('app_vehicule_edit') }}">Retour</a>

    <div class="contenu">

    {{ form(form) }}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    </div>
</body>
</html>