<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
    form {
        background: lightgrey;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1rem;
    }
    .error {
        color: red;
    }
    </style>
</head>
<body>

    <a class='m-4' href="/">Retour au site</a>
    <div class='container'>
        <div class='row d-flex '>
            <div class='col-12 col-lg-6 mx-auto text-center mt-3'>
                <form action="{{ path('app_login') }}" method="post">
                {% if error %}
                    <div class='error'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <label for="username">Email:</label></br>
                    <input class="mb-3" type="text" id="username" name="_username" value="{{ last_username }}">
                    </br>
                    <label for="password">Password:</label></br>
                    <input class="mb-3" type="password" id="password" name="_password">
                    </br>

                    {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"> #}

                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

