<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edition des Véhicules</title>
</head>
<body>
    <h1>Edition des véhicules</h1>
    <a href= "{{ path('app_vendeur') }}">Retour au Dashboard</a>


</body>
</html>