{% extends 'base.html.twig' %}

{% block title %}G.Parrot Accueil{% endblock %}

{% block body %}


    <h1>Page Accueil</h1>

    <div> Presentation du garage </div>
    <div> Liste des Services </div>
    <div> Espace Avis Client </div>


{% endblock %}
