{% extends 'base.html.twig' %}

{% block title %}G.Parrot - Contact{% endblock %}

{% block stylesheets %}
.form {
    min-height: 70vh;
}
{% endblock %}

{% block body %}

    <h1 class="text-center">Page Contact</h1>

    <div class="form text-center mt-5">
    <p>Fonctionnalités non implémentés pour le moment.</p>
    <p>Veuillez nous excuser pour la gêne occasionné...</p>
    </div>

{% endblock %}
