{% extends 'base.html.twig' %}

{% block title %}G.Parrot Galerie{% endblock %}

{% block body %}

    <h1>Page Galerie</h1>

    <div>Fonction de Trie JS</div>
    <div>Espace Galerie/Affichage</div>
{% endblock %}
