{% extends 'base.html.twig' %}

{% block title %}G.Parrot Galerie{% endblock %}

{% block stylesheets %}
.ctnr-galerie {
    min-height: 80vh; 
}
{% endblock %}

{% block body %}

<!-- TABLEAU FONCTION TRIE DYNAMIQUE -->

<div class="row py-3" style="background: lightblue;">
    <div clas="col-12 d-flex">
        <div class="d-flex justify-content-around">
            <section class="d-inline-flex">
                <label for="marque-select-list"></label>

                <select name="marque-select" id="marque-select-list">
                <option value="">Marque du Véhicule</option>
                <optgroup label="Véhicules disponible">
                    <option value="Nissan">Nissan</option>
                    <option value="Peugeot">Peugeot</option>
                </optgroup>
                </select>
            </section>

            <section class="d-inline-flex">
                <label for="modele-select-list"></label>

                <select name="modele-select" id="modele-select-list">
                <option value="">Modèle du Véhicule</option>
                <optgroup label="Véhicules disponible">
                    <option value="note">Note</option>
                    <option value="308">308</option>
                </optgroup>
                </select>
            </section>

            <section class="d-inline-flex">
                <label for="annee-select-list"></label>

                <select name="annee-select" id="annee-select-list">
                    <option value="">Année du Véhicule</option>
                    {% for i in 2023..1960 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </section>
            <section class="d-inline-flex">
                <label for="carburant-select-list"></label>

                <select name="carburant-select" id="carburant-select-list">
                    <option value="">Type de carburant</option>
                    <option value="gasoil">Gasoil</option>
                    <option value="essence">Essence</option>
                    <option value="electrique">Élèctrique</option>
                </select>
            </section>
        </div>
    </div>

                            <!-- Selecteur pour trie du Prix ci dessous -->

    <div clas="col-12 d-flex">
        <div class="d-flex justify-content-center mt-2">

            <section class="d-flex flex-column">
                <label for="prix-select-min" class="text-center">Prix minimum</label>
                <input name="prix-select-mini" id="prix-select-min" placeholder="800">
            </section>

            <section class="d-flex flex-column">
                <label for="prix-select-max" class="text-center">Prix maximum</label>
                <input name="prix-select-maxi" id="prix-select-max" placeholder="7500">
            </section>

        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center mt-2">
            <button>Recherche</button>
        </div>
    </div>
</div>

                        <!-- AFFICHAGE DES CARTES DES VEHICULES -->

<h1 class="text-center">Nos Véhicules à vendre</h1>

<div class="container ctnr-galerie">
    <div class="row">
    {% for i in 0..7 %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <img src="{{ asset('images/Vehicules/defaut.jpg') }}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">Marque</h5>
                    <h6>Modele</h6>
                    <p>Année : 11/2017</p>
                    <p>Chevaux : 120</p>
                    <div class="d-flex">
                        <div class="col-6">
                            <p >Essence</p>
                            <p>127 000 Km<p>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-primary float-end">Plus d'Infos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
    </div>


</div>
{% endblock %}


