<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modifications - Avis</title>
</head>
<body>
    <h1>Modifications des Avis</h1>
    <a href= "{{ path('app_modo') }}">Retour au Dashboard</a>


</body>
</html>