<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ajout Avis - Vendeur</title>
</head>
<body>
    <h1>Ajout Avis Vendeur/Client</h1>
    <a href= "{{ path('app_vendeur') }}">Retour au Dashboard</a>


</body>
</html>