<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard Modérateur</title>
</head>
<body>
    <h1>Dashboard Modérateur</h1>
    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se Déconnecter</a>

</body>
</html>



